.faq-header {
    color: lightseagreen
}

#top {
    text-align: center;
}

.faq-tittle {
    text-align: center;
    color: lightseagreen;
}

.faq-img {
    text-align: center;
    color: lightseagreen;
}

.faq-text {
    color: gray;
}